target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.jar

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/projects/WebApplication/nbproject/private/
/projects/WebApplication/dist/
/projects/WebApplication2/nbproject/private/
/web projects/MessagesExpress/nbproject/private/
/web projects/AngularJSPhoneCat/nbproject/private/


## node versions
/.nvm/
/node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
.yarn-integrity
